<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <th:block th:insert="fragments/mypage-body :: mypage-body"/>
    <div class="col-lg-4">
        <div class="passwordEdit">
            <div class="fa-password">비밀번호 변경</div>
            <form role="form" action="/password" th:object="passwordForm" method="post">
                <div class="form-group">
                    <label th:for="name">닉네임 : </label>
                    <input type="text" value="th:value로 유저 닉네임이 들어감" readonly="true">
                </div>
                <div class="form-group">
                    <label th:for="origin">password : </label>
                    <input type="text" class="form-control password" placeholder="password">
                </div>
                <div class="form-group">
                    <label th:for="new">new password : </label>
                    <input type="text" class="form-control new-password" placeholder="new password">
                </div>
                <div class="form-group">
                    <label th:for="new">repeat new password : </label>
                    <input type="text" class="form-control re-new-password" placeholder="repeat new password">
                </div>
                <button type="submit" class="btn btn-primary">수정</button>
            </form>
            <br/>
        </div>
    </div>
</body>
</html>