<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-3" th:fragment="mypage-body">
    <div class="menu">
        <div style="margin-left: 15px;">
            <a class="setting-menu" style="color: rgb(230, 96, 96);" href="/mypage/me">정보/랭킹</a>
        </div>
        <div style="margin-left: 15px;">
            <a class="setting-menu" style="color: rgb(230, 96, 96);" href="/mypage/password">비밀번호 변경</a>
        </div>
        <div style="margin-left: 15px;">
            <a class="setting-menu" style="color: rgb(230, 96, 96);" href="/mypage/contents">내가 쓴 글</a>
        </div>
        <div style="margin-left: 15px;">
            <a class="setting-menu" style="color: rgb(230, 96, 96);" href="/mypage/comments">내가 쓴 댓글</a>
        </div>
        <div style="margin-left: 15px;">
            <a class="setting-menu" style="color: rgb(230, 96, 96);" href="/mypage/scrap">스크랩</a>
        </div>
        <div style="margin-left: 15px;">
            <a class="setting-menu" style="color: rgb(230, 96, 96);" href="/deleteMember">탈퇴</a>
        </div>
    </div>
</div>