<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="fragment-sidebar" class="col-sm-2 mr-3 box shadow" id="sidebar-wrapper">
        <ul class="nav flex-column">
            <li class="font-weight-bold big pt-1">커뮤니티</li>
            <li class="nav-item">
                <a class="ml-2 small" th:href="@{/board/1}">자유게시판</a>
            </li>

            <li class="nav-item">
                <a class="ml-2 small" th:href="@{/board/2}">익게1</a>
            </li>

            <li class="nav-item">
                <a class="ml-2 small" th:href="@{/board/3}">익게2</a>
            </li>

            <li class="nav-item">
                <a class="ml-2 small" th:href="@{/board/4}">연애상담소</a>
            </li>

            <li class="nav-item">
                <a class="ml-2 small" th:href="@{/board/5}">주식/투자</a>
            </li>

            <li class="nav-item">
                <a class="ml-2 small" th:href="@{/board/6}">맛집</a>
            </li>

            <li class="nav-item">
                <a class="ml-2 small" th:href="@{/board/7}">헬스</a>
            </li>

            <li class="nav-item">
                <a class="ml-2 small" th:href="@{/board/8}">졸업생</a>
            </li>
        </ul>
    </div>
</html>