<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <title>ssodam clone</title>
</head>
<body>
<h1 th:text="'title: '+${post.getTitle()}">postTitle</h1>

<div th:text="'content: '+${post.getContents()}">postContent</div>
<div th:text="'author: '+${post.getMember().getUsername()}">작성자</div>
<tr th:each="comment : ${post.getComments()}">
    <td th:text="'replier: '+${comment.getMember().getUsername()}"></td>
    <td th:text="'content: '+${comment.getContent()}"></td>
    <br>
</tr>
</body>
</html>