<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <div th:replace="fragments/nav :: fragment-nav"></div>
    <table>
        <thead>
        <tr>
            <th>카테고리 이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categoryList}" th:with="postList=${postService.findByCategory(category)}">
            <br><br>
            <td th:text="${category.getName()}"></td>
            <table>
                <tr>
                    <th>postId</th>
                    <th>postTitle</th>
                    <th>postContent</th>
                </tr>

                <!--http://www.ssodam.com/content/1099804?prev=3&prev_content=/board/3-->

                <tr th:each="post:${postList}">
                    <td th:text="${post.id}"></td>
                    <td align="left">
                        <a th:href="@{/content/{postId}(postId=${post.id},prev=1,prev_content='/board/'+${post.category.id})}" th:text="${post.getTitle()}"></a>
                    </td>
                    <td align="left">
                        <a th:href="@{/content/{postId}(postId=${post.id},prev=1,prev_content='/board/'+${post.category.id})}" th:text="${post.getContents()}"></a>
                    </td>
                </tr>
            </table>
        </tr>
        </tbody>
    </table>
</body>
</html>