<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/nav :: fragment-nav"></div>

<form th:action="/findPassword" method="post>
    <h3>비밀번호 </h3>

    <br>서강대 메일주소 혹은 추가 등록한 서브메일을 넣어주세요. 서담 아이디를 분실하신 분은 <a href="/getid" style="color:blue;">여기</a>를 눌러아이디를 먼저
찾아주세요.

<br><br><br>
<input type="text" class="form-control" placeholder="서담 아이디를 입력하세요" id="username"><br>
<input type="email" class="form-control" placeholder="이메일을 입력하세요" id="email"><br>
<input type="submit" class="btn btn-red" value="찾기">

<div class="insert" style="margin-top:10px;"></div>
<br><br><br>
<hr>
비번찾는데 어려움이 있으신 분은 <br>문의하지 말아주세요.
<br><br>
</form>
</body>
</html>