
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <div th:replace="fragments/nav :: fragment-nav"></div>

<form th:action="@{/signup}" method="post">
    <div class="form-group">
        <label>닉네임: </label>
        <input type="text" name="username" id="name" placeholder="아이디"/>
    </div>
    <div class="form-group">
        <label>패스워드: </label>
        <input type="password" name="password" id="password" placeholder="패스워드"/>
    </div>
    <button type="submit">가입</button>
</form>
</body>
</html>